
{% extends "AppCoder/padre.html" %}

{% block contenidoQueCambia %}
<style>
    .content-container {
        text-align: center;
        margin-top: 40px;
    }

    .content-container h2 {
        color: #4CAF50;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        background-color: #f2f2f2;
        margin: 10px auto;
        padding: 15px;
        border-radius: 10px;
        width: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    li:hover {
        background-color: #e8e8e8;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }
</style>

<div class="content-container">
   
    <h5>
        Soy Hans Luna, una persona que me gusta la programacion en 
        general con el fin de dar soluciones en optimizacion de sistemas,
        modelo de negocio o procesos administrativos.
        Para llevar a cabo se modela el sistema/negocio/proceso 
        mediante entidades luego se implementa en platafroma web, 
        o tableros de control o cliente servidor, se realizan casos
        de prueba y se documenta. <br><br>
        
        Referencia :
        +51 996397275 o lunahans@hotmail.com
    
    </h5>
</div>
{% endblock %}

